@import url('https://fonts.cdnfonts.com/css/debug-free-trial');

.form-container {
    background: #CDC2AE;
    margin: 0;
    padding: 0;
}

#header_1 {
    font-family: 'DEBUG FREE TRIAL', sans-serif;
    font-size: 5vw;
}

.form-header-group {
    padding: 0;
}

#input_scl_2 {
    background: white;
}

@media screen and (max-width: 600px) {
    #header_1 {
        font-size: 10vw;
    }
}