* {
    margin: 0;
    padding: 0;
}

nav {
    background: #0F283E;
}

.logo {
    height: 60px;
}

.discord {
    height: 40px;
}

.discord:hover {
    animation: effect 0.4s infinite;
}

@keyframes effect {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    20% {
        transform: translateX(-4px) rotate(-4deg);
    }

    40% {
        transform: translateX(-2px) rotate(-2deg);
    }

    60% {
        transform: translateX(4px) rotate(4deg);
    }

    80% {
        transform: translateX(2px) rotate(2deg);
    }

    100% {
        transform: translateX(0px) rotate(0deg);
    }
}